.header-box .box-sostienici .sostienici-btn {
  display: block;
}


@media (max-width: 960px) {

}

@media (max-width: 767px) {
  .header-box .box-sostienici .sostienici-btn,
  .box-sostienici {
    display: none;
  }
  .header-section-logo {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}

@media (max-width: 425px) {

}